
# gradio 
# spaces
fastapi
uvicorn
python-multipart


# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
transformers
python-dotenv

requests
protobuf
sentencepiece
bitsandbytes